{% extends "base.html" %}
{% block content %}
    <h1>Welcome, {{ user }}</h1>
   
 {% if user.is_staff %}
       <p class="lead">You can manage inputs in <a href="{% url 'admin:meterdata_meterinput_changelist' %}">admin</a></p> 
     {% endif %}
<div class="row">
   <h2>Available inputs</h2>

   <table class="table table-striped">
        <thead> 
            <tr>
                <th>Name</th>
                <th># of events</th>
                <th>First seen</th>
                <th>Last seen</th>
            </tr>
        </thead>
        <tbody>
        {% for input in object_list %}
            <tr>
                <td><a href="{% url 'input-data' input.pk %}">{{ input.title }}</a></td>
                <td>{{ input.get_event_count }}</td>
                <td>{{ input.get_first_event.time  }}</td>

                <td>{{ input.get_last_event.time  }}</td>
            </tr>
        {% endfor %}
         </tbody>
    </table>
</div>

{% endblock %}
